body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow-y: hidden;
  background-color: cadetblue;
  margin: 0; /* Ekran kenarlarındaki varsayılan margin'leri kaldırdık */
}

.container {
  width: 302px;
  display: grid;
  grid-template-columns: repeat(3, 100px); /* Grid özelliklerini düzelttik */
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  background-color: brown;
  margin: 25px auto;
}

h1 {
  font-size: 3rem;
}

.btn {
  padding: 10px 30px;
  border: none;
  background-color: brown;
  color: #f0f8ff;
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.4s ease-in; /* Yazım hatasını düzelttik */
  border-radius: 5px;
}

.btn:hover {
  background-color: #f0f8ff;
  color: brown;
}

.cell {
  border: 1px solid gray;
}
